<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   

</head>

<body ng-app="myApp" ng-controller="myCtrl3">
    <div class="container">
    <h3>Edit Student</h3>
    <form name="myForm2" ng-submit="editCourse(course)" >
        <br> <div class="col-5">Course id: </div>
        <input class="col-5" type="text" name="courseid" ng-model="courseid"  ng-value="courses1.courseid" readonly="readonly" > 
        <br>
        <div class="col-3">Course name:</div>
        <input  class="col-5" type="text" name="coursename" ng-model="coursename" placeholder="{{courses1.coursename}}" required >
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit" >
    </form>
    </div>
    <script src="/js/angular.js"></script>
    <script src="/js/course.js"></script>
</body>

</html>