<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Course List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body ng-app="myApp" ng-controller="myCtrl3">
	
<div class="container">
    <h2 class="text-center"> Danh Sach Tat Ca Cac Khoa Hoc</h2>
    <form class="form-inline">
            <div class="form-group">
                <label>Search</label>
                <input type="text" name="" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
        <br>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Number of Student</th>
            <th>Action</th>
        </tr>
        <tr dir-paginate="course in courses | filter: search | itemsPerPage:8">
            <td>{{course.courseid}}</td>
            <td>{{course.coursename}}</td>
            <td  ng-init="init(course.courseid)" >{{leader[course.courseid]}}</td>
            <td>
                <a class="btn btn-info" href="/course_detail" ng-click="viewCourse(course.courseid)">Detail</a>
                <a class="btn btn-warning" href="" ng-click="deleteCourse(course.courseid)">Delete</a>
                <a class="btn btn-primary" href="/edit_course" ng-click="viewCourse(course.courseid)" >Edit</a>
            </td>
        </tr>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" auto-hide>
            </dir-pagination-controls>
    </table>
    <a href="/add_course" >Thêm Khóa Học</a>

</div>
	
	<script src="/js/angular.js"></script>
    <script src="/js/course.js"></script>
    <script src="/js/dirPagination.js"></script>
</body>
</html>