<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Insert title here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/studentcourse.js"></script>
    <style type="text/css">
    		*{
    			margin: 0px;
    			padding: 0px;
    		}

            .comma:empty {
          display: none;
            }

            .comma:not(:first-child):before {
            content: ", ";
            }
    </style>
</head>
<body ng-app="myApp"  ng-controller="myCtrl">
	<div class="container">
	<h2>Chi Tiết Sinh Viên</h2>
	<table class="table">
        <tr>
            <th>ID</th>
            <th>Student Name</th>
            <th>Student Age</th>
            <th>Student Location</th>
        </tr>
        <tr>
            <td>{{students1.studentid}}</td>
            <td>{{students1.studentName}}</td>
            <td>{{students1.studentAge}}</td>
            <td>{{students1.studentLocation}}</td>
        </tr>
    </table>
    <h4>Sinh viên {{students1.studentName}} đã đăng kí các khóa học sau: <span class= "comma" ng-repeat="x in size"> {{students2[x].coursename}}</span></h4>
    
    <p>Add Course</p>

    <form method="GET" action="/viewStudent/saveco">
        <input type="hidden" name="studentid" value={{students1.studentid}}>
        <div class="col-xs-3">
        <select class="form-control" name="courseid" id="courseid" >
            <option ng-repeat="course in courses" value={{course.courseid}}>{{course.coursename}}</option>
        </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Add Course">
    </form>

    </div>
</body>
</html>